<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="style.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Zodex</title>
  </head>
  <body>
    <div class="grid-container">
      <header class="header">
        <div class="brand">
            <button onclick="openMenu()">
                &#9776;
            </button>
          <a href="index.html">Zodex-Herbals</a>
        </div>
        <div class="header-links">
          <a href="signin.html">Sign-In</a>
          <a href="cart.html">Cart</a>
        </div>
      </header>
      <aside class="sidebar">
          <h3>Shopping Categories</h3>
          <button class="sidebar-close-button"onclick="closeMenu()">x</button>
          <ul>
              <li><a href="index.html">Floor Cleaners</a></li>
              <li><a href="index.html">Bathroom Cleaners</a></li>
              <li><a href="index.html">Herbal Cleaners</a></li>
              <li><a href="index.html">Cloth Cleaners</a></li>

          </ul>
      </aside>
      <main class="main">
        <div class="content">
          <ul class="products">
            <li>
              <div class="product">
                <image
                  class="product-image"
                  src="./images/d1.jpg"
                  alt=""
                ></image>
                <div class="product-name">
                  <a href="product.html">Zodex Phenyl 1</a>
                </div>
                <div class="product-brand">Zodex</div>
                <div class="product-price">100 Rs</div>
                <div class="product-rating">4.5 Stars(10 Reviews)</div>
              </div>
            </li>
            <li>
                <div class="product">
                  <image
                    class="product-image"
                    src="./images/d1.jpg"
                    alt=""
                  ></image>
                  <div class="product-name">
                    <a href="product.html">Zodex Phenyl 1</a>
                  </div>
                  <div class="product-brand">Zodex</div>
                  <div class="product-price">100 Rs</div>
                  <div class="product-rating">4.5 Stars(10 Reviews)</div>
                </div>
              </li>
              <li>
                <div class="product">
                  <image
                    class="product-image"
                    src="./images/d1.jpg"
                    alt=""
                  ></image>
                  <div class="product-name">
                    <a href="product.html">Zodex Phenyl 1</a>
                  </div>
                  <div class="product-brand">Zodex</div>
                  <div class="product-price">100 Rs</div>
                  <div class="product-rating">4.5 Stars(10 Reviews)</div>
                </div>
              </li>
              <li>
                <div class="product">
                  <image
                    class="product-image"
                    src="./images/d1.jpg"
                    alt=""
                  ></image>
                  <div class="product-name">
                    <a href="product.html">Zodex Phenyl 1</a>
                  </div>
                  <div class="product-brand">Zodex</div>
                  <div class="product-price">100 Rs</div>
                  <div class="product-rating">4.5 Stars(10 Reviews)</div>
                </div>
              </li>
              <li>
                <div class="product">
                  <image
                    class="product-image"
                    src="./images/d1.jpg"
                    alt=""
                  ></image>
                  <div class="product-name">
                    <a href="product.html">Zodex Phenyl 1</a>
                  </div>
                  <div class="product-brand">Zodex</div>
                  <div class="product-price">100 Rs</div>
                  <div class="product-rating">4.5 Stars(10 Reviews)</div>
                </div>
              </li>
              <li>
                <div class="product">
                  <image
                    class="product-image"
                    src="./images/d1.jpg"
                    alt=""
                  ></image>
                  <div class="product-name">
                    <a href="product.html">Zodex Phenyl 1</a>
                  </div>
                  <div class="product-brand">Zodex</div>
                  <div class="product-price">100 Rs</div>
                  <div class="product-rating">4.5 Stars(10 Reviews)</div>
                </div>
              </li>
              <li>
                <div class="product">
                  <image
                    class="product-image"
                    src="./images/d1.jpg"
                    alt=""
                  ></image>
                  <div class="product-name">
                    <a href="product.html">Zodex Phenyl 1</a>
                  </div>
                  <div class="product-brand">Zodex</div>
                  <div class="product-price">100 Rs</div>
                  <div class="product-rating">4.5 Stars(10 Reviews)</div>
                </div>
              </li>
              <li>
                <div class="product">
                  <image
                    class="product-image"
                    src="./images/d1.jpg"
                    alt=""
                  ></image>
                  <div class="product-name">
                    <a href="product.html">Zodex Phenyl 1</a>
                  </div>
                  <div class="product-brand">Zodex</div>
                  <div class="product-price">100 Rs</div>
                  <div class="product-rating">4.5 Stars(10 Reviews)</div>
                </div>
              </li>
              <li>
                <div class="product">
                  <image
                    class="product-image"
                    src="./images/d1.jpg"
                    alt=""
                  ></image>
                  <div class="product-name">
                    <a href="product.html">Zodex Phenyl 1</a>
                  </div>
                  <div class="product-brand">Zodex</div>
                  <div class="product-price">100 Rs</div>
                  <div class="product-rating">4.5 Stars(10 Reviews)</div>
                </div>
              </li>
          </ul>
        </div>
      </main>
      <footer class="footer">
        All rights reserved by Zodex -Herbals
      </footer>
    </div>
    <script>
        function openMenu(){
            document.querySelector(".sidebar").classList.add("open")
        }
        function closeMenu(){
            document.querySelector(".sidebar").classList.remove("open")
        }
    </script>
  </body>
</html>
